:root {
    --color-code: #669999;
    --color-emphasis: #e6e600;
}


.article {
    color: white;
    padding: 0 1rem;
    font-size: 1.0rem;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 3rem);
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
    padding: 2.5rem 0 1rem 0;
    text-align: center;
}

.article h1 {
    color: white;
    font-size: 1.5rem;
}

.article h2 {
    color: white;
    font-size: 1.25rem;
    border-bottom: 1px solid silver;
}

.article .date {
    color: #999900;
    display: block;
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: smaller;
}


.article a,
.article a:visited,
.article a:link,
.article a:hover,
.article a:active {
    color: yellow;
    text-decoration: none;
}

.article p code,
.article li code,
.article h2 code,
.article .box code {
    font-family: monospace;
    color: var(--color-code);
    text-shadow: 0 0 1px var(--color-code);
}

.article .emphasis {
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-left: 0.4rem solid var(--color-emphasis);
    border-right: 0.1rem solid var(--color-emphasis);
    color: var(--color-emphasis);
}

.article .side-note {
    font-style: italic;
    text-align: center;
    padding: 0.5rem 0.5rem;
    color: gray;
}

.article .end-space {
    display: block;
    height: 10rem;
}

.article p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.article .boxes {
    display: flex;
    gap: 0.7rem;
    padding: 0 1.5rem;
}

.article .box {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px solid var(--color-code);
    padding: 1rem;
    display: grid;
    text-align: center;
}

.article .box p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.article .box .hor-line {
    width: 90%;
    padding: 0 5%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 0.10rem;
    background-color: var(--color-code);
}

.article .seq p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.article .seq div::before {
    content: '↪ ';
    color: var(--color-emphasis);
}

/* 
.article .seq div:nth-child(2) {
    padding-left: calc(1 * 0.9rem);
}

.article .seq div:nth-child(3) {
    padding-left: calc(2 * 0.9rem);
}

.article .seq div:nth-child(4) {
    padding-left: calc(3 * 0.9rem);
}

.article .seq div:nth-child(5) {
    padding-left: calc(4 * 0.9rem);
}

.article .seq div:nth-child(6) {
    padding-left: calc(5 * 0.9rem);
}

.article .seq div:nth-child(7) {
    padding-left: calc(6 * 0.9rem);
}

.article .seq div:nth-child(8) {
    padding-left: calc(7 * 0.9rem);
}

.article .seq div:nth-child(9) {
    padding-left: calc(8 * 0.9rem);
}

.article .seq div:nth-child(10) {
    padding-left: calc(9 * 0.9rem);
} */

.article .tick::before {
    content: ' ✓ ';
    color: #00cc00;
    font-weight: bold;
}

.article .fail::before {
    content: ' ✗ ';
    color: #ff3300;
    font-weight: bold;
}

.article .danger {
    color: #ff1a1a;
}