.home {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

.home .contacts {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
}

.home h1 {
    border-bottom: 0.2rem solid white;
}


.home .article-list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
}

.home .article-list-definition {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0;
}

.home .article-list-definition .article-summary {
    padding-top: 0;
    margin-top: 0;
    font-size: smaller;
}